node_modules
build
dist
coverage
*.config.js
*.min.js
package-lock.json
yarn.lock
.pnp.*
.yarn/*
.husky
backend/uploads
backend/coverage
frontend/build
frontend/dist
backend/jest.config.js
frontend/vite.config.js

